<div class="driving-warpper">
  <a ui-sref="home" class="btn btn-warning">Go Back</a>

  <h3>#<span>{{vm.routeIndex}}</span> {{vm.route.start + ' - ' + vm.route.end}}</h3>

  <google-map route="vm.route" ng-if="vm.route"></google-map>

  <h5>
    <span>{{vm.route.routes[0].legs[0].distance.text}}</span>,
    <span> About {{vm.route.routes[0].legs[0].duration.text}}</span>
  </h5>
</div>