<form name="routeForm" ng-submit="vm.submit()" class="route-form">
  <span>
    <input type="text" class="form-control" ng-model="vm.route.start" placeholder="Start" required>
  </span>
  <span>
    <input type="text" class="form-control" ng-model="vm.route.end" placeholder="End" required>
  </span>
  <button type="submit" class="btn btn-primary" ng-disabled="!routeForm.$valid">Submit</button>
</form>

<div class="alert {{vm.alertConfig.type}}" role="alert" ng-show="vm.alertConfig.show">
  <p>
    {{vm.alertConfig.msg}}
  </p>
</div>

<div ng-if="vm.routes" class="routes-list">
  <ul>
    <li ng-repeat="route in vm.routes track by $index" ng-init="route.index = $index + 1;">
      <div>
        <span>#{{$index + 1}}&nbsp;</span><span>{{route.start}}</span>&nbsp;-&nbsp;<span>{{route.end}}</span>
      </div>
      <div>
        <button class="btn btn-danger" ng-click="vm.deleteRoute(route);">Delete</button>
        <button class="btn btn-primary" ui-sref="map({index: ($index + 1)})">Detail</button>
      </div>
    </li>
  </ul>
  <span>You have {{vm.routes.length}} route(s)</span>
</div>
