.route-form {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;

  > * {
    flex: 1 auto;
    margin-right: 20px;

    &:last-child {
      flex: 0 0 auto;
      margin: 0;
    }
  }
}

.routes-list {
  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    align-items: center;
    border-bottom: 1px solid #ccc;

    li {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      > * {
        display: flex;
        align-items: center;

        button {
          margin-left: 10px;
        }
      }

      &:nth-child(odd) {
        background: #f8f8f8;
      }
    }
  }
}

.driving-warpper {
  padding-top: 40px;
}

.g-map {
  width: 100%;
  height: 500px;
  display: block;
}